<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="h5 mb-4">Lista de Candidatos</p>
                        <button type="button" class="btn btn-success">Nuevo</button>

                    <form enctype="multipart/form-data">
                        <div class="row g-3 align-items-center">
                            <div class="col-md-3">
                                <label for="nombre" class="form-label">Nombre Empresa</label>
                                <input  type="text" class="form-control"
                                        placeholder="Nombre de la empresa"
                                        name="nomPer"
                                        >
                            </div>

                            <div class="col-md-3">
                                <label for="Paterno" class="form-label">RUC</label>
                                <input type="text"
                                        class="form-control"
                                        placeholder="RUC de la Empresa"
                                        name="apePatPer"
                                        >
                            </div>

                           
                                                         
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>




