<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    
                    <label class="col-xl-1 col-form-label">Elecciones:</label>
                    <div class="col-xl-3">
                        <select class="custom-select form-control" [(ngModel)]="eleccionSeleccionado" (change)="_OnEleccionChange()">
                            <option [ngValue]="0">[Seleccione]</option>
                            <option *ngFor="let x of _ListaEle" [ngValue]="x.clave">{{ x.valor }}</option>
                        </select>

                    </div>
                    <label class="col-xl-1 col-form-label">Procesos:</label>
                    <div class="col-xl-3">
                        <select class="custom-select form-control" [(ngModel)]="procesoSeleccionada" [disabled]="!_ListaPro.length" (change)="_Get()">
                            <option [ngValue]="0">[Seleccione]</option>
                            <option *ngFor="let x of _ListaPro" [ngValue]="x.clave">{{ x.valor }}</option>
                        </select>

                    </div>   
                    <div class="col-xl-2">
                        <button type="button" class="btn btn-info" [disabled]="deshabilitado" (click)="_Iniciar()">Iniciar Difusión</button> 
                    </div> 
                    
                                                                                       
                </div>                 
                <nav ngbNav #nav="ngbNav" class="nav-tabs">                        
                    <ng-container ngbNavItem>
                        <a ngbNavLink>Colaboradores</a>
                            <ng-template ngbNavContent>
                                <div class="block-center mt-4">
                                    <div class="col-xl-12">
                                        <div class="card card-default">      
                                            <div class="card-body"> 
                                                <div class="form-group row">
                                                    
                                                    <button type="button" class="btn btn-primary" (click)="fileInput.click()" [disabled]="deshabilitado" style="margin-right: 4px">
                                                        <i class="bi bi-file-earmark-excel"></i> Cargar Excel</button>
                                                        <input #fileInput
                                                        type="file"
                                                        accept=".xlsx, .xls"
                                                        style="display: none"
                                                        (change)="_OnFileChange($event)">
                                                    <button type="button" class="btn btn-success" style="margin-right: 4px" (click)="_Guardar()" [disabled]="deshabilitado" >Guardar</button>                                                     
                                                </div>
                                                                                             
                                                <div class="form-group row">
                                                    <table class="table align-middle mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                        <th>Tipo</th>
                                                                        <th>N°Documento</th>                                                                        
                                                                        <th>Nombre</th>
                                                                        <th>Apellido Paterno</th>
                                                                        <th>Apellido Materno</th>
                                                                        <th>Correo</th>
                                                                        <th>Cargo</th>
                                                                        <th>Sede</th>
                                                                        <th>Envio</th>
                                                                    </tr>
                                                                </thead>   
                                                                <tbody *ngIf="_Listcolaboradores && _Listcolaboradores.length > 0">
                                                                    <tr *ngFor="let c of _Listcolaboradores; let i = index">
                                                                        <td style="width: 100px;">
                                                                            <button class="btn btn-success btn-sm" style="margin-right: 8px" [disabled]="deshabilitado" (click)="_AgregarFila(i)">
                                                                                <i class="bi bi-plus-circle me-1"></i> +
                                                                            </button>
                                                                            <button class="btn btn-danger btn-sm" [disabled]="deshabilitado" (click)="_QuitarFila(i)">
                                                                                <i class="bi bi-x-circle me-1"></i> -
                                                                            </button>
                                                                        </td>
                                                                        <td>
                                                                            <div class="d-flex align-items-center">                                                                              
                                                                                <div class="ms-3">
                                                                                    <select class="custom-select form-control" [disabled]="deshabilitado" [(ngModel)]="c.tipoDocumento"  required name="tipoDocumento">
                                                                                        <option selected>[Seleccione]</option>
                                                                                        <option value="DNI">L.E / DNI</option>
                                                                                        <option value="CARNET EXT">CARNET EXT.</option>
                                                                                        <option value="RUC">RUC</option>
                                                                                        <option value="PASAPORTE">PASAPORTE</option>
                                                                                        <option value="PARTIDA">P. NAC.</option>
                                                                                        <option value="OTROS">OTROS</option>
                                                                                    </select>                                
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td> 
                                                                            <input type="text" class="form-control" [(ngModel)]="c.numeroDocumento" placeholder="Num. Documento" [disabled]="deshabilitado" name="numeroDocumento"> 
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.nombre" placeholder="Nombres" [disabled]="deshabilitado" name="nombre">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.apellidoPaterno" placeholder="Ape. Paterno" [disabled]="deshabilitado" name="apellidoPaterno">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.apellidoMaterno" placeholder="Ape. Materno" [disabled]="deshabilitado" name="apellidoMaterno">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.emaildifusion" placeholder="Correo" [disabled]="deshabilitado" name="emaildifusion">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.cargo" placeholder="Cargo" [disabled]="deshabilitado" name="cargo">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" [(ngModel)]="c.sede" placeholder="Sede" [disabled]="deshabilitado" name="sede">                                                                           
                                                                        </td>
                                                                        <td>
                                                                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                                                                        </td>                                                                       
                                                                    </tr>                                                                       
                                                                </tbody>
                                                            </table>
                                                        </div>                                                
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                </ng-template>
                        </ng-container>                                               
                </nav>   

                <div [ngbNavOutlet]="nav" class="mt-2"></div>                                            
            </div>
        </div>
    </div>
</div>
